.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  min-height: calc(100vh - 92px);

  & h1 {
    font-size: 4rem;
    line-height: 1.1;
    font-weight: 600;
    color: var(--colors-aqua);
    width: 90%;
    justify-self: center;
  }
}
